.container {
    padding: 50px
}

.logout {
    float: right;
}

label {
    margin-right: 2em
}

.unselectable {
    user-select: none;
}

.custom-control+.custom-control {
    margin-left: 0 !important
}