* {
    /*font-family: 'Avenir', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
    font-family: -apple-system,"Helvetica Neue","Hiragino Sans GB",STHeiti,"Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","Microsoft YaHei","Microsoft JhengHei","WenQuanYi Micro Hei",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.unselectable {
    user-select: none;
}

.container {
    padding: 50px
}

.right {
    float: right
}

.link {
    color: #1F2D3D !important;
    cursor: pointer
}

.link:hover {
    text-decoration: none;
    color: #99A9BF !important;
}

  a {
    text-decoration: none
  }